python  3.11.0
fastapi                                  0.115.11
aiohappyeyeballs                         2.5.0
aiohttp                                  3.11.13
aiomysql                                 0.3.2
aiofiles                                 23.2.1
asyncio                                  3.4.3
pydantic                                 2.10.6
pydantic_core                            2.27.2
streamlit                                1.43.2